{
  "openapi": "3.0.1",
  "info": {
    "title": "Azure Media Services",
    "description": "This Swagger was generated by the API Framework.",
    "version": "2020-05-01"
  },
  "servers": [
    {
      "url": "https://management.azure.com/"
    }
  ],
  "paths": {
    "/providers/Microsoft.Media/operations": {
      "get": {
        "summary": "List Operations",
        "description": "Lists all the Media Services operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationCollection"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List Operations": {
            "$ref": "examples/operations-list-all.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices": {
      "get": {
        "summary": "List Media Services accounts",
        "description": "List Media Services accounts in the resource group",
        "operationId": "Mediaservices_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaServiceCollection"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Media Services accounts": {
            "$ref": "examples/accounts-list-all-accounts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}": {
      "get": {
        "summary": "Get a Media Services account",
        "description": "Get the details of a Media Services account",
        "operationId": "Mediaservices_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaService"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get a Media Services account by name": {
            "$ref": "examples/accounts-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Create or update a Media Services account",
        "description": "Creates or updates a Media Services account",
        "operationId": "Mediaservices_CreateOrUpdate",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaService"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaService"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaService"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Create a Media Services account": {
            "$ref": "examples/accounts-create.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      },
      "delete": {
        "summary": "Delete a Media Services account.",
        "description": "Deletes a Media Services account",
        "operationId": "Mediaservices_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "204": {
            "description": "NoContent",
            "content": {}
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Delete a Media Services account": {
            "$ref": "examples/accounts-delete.json"
          }
        }
      },
      "patch": {
        "summary": "Update a Media Services account",
        "description": "Updates an existing Media Services account",
        "operationId": "Mediaservices_Update",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MediaService"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaService"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Update a Media Services accounts": {
            "$ref": "examples/accounts-update.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/syncStorageKeys": {
      "post": {
        "summary": "Synchronizes Storage Account Keys",
        "description": "Synchronizes storage account keys for a storage account associated with the Media Service account.",
        "operationId": "Mediaservices_SyncStorageKeys",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncStorageKeysInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Synchronizes Storage Account Keys": {
            "$ref": "examples/accounts-sync-storage-keys.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/listEdgePolicies": {
      "post": {
        "summary": "List the media edge policies associated with the Media Services account.",
        "description": "List the media edge policies associated with the Media Services account.",
        "operationId": "Mediaservices_ListEdgePolicies",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ListEdgePoliciesInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EdgePolicies"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "List the media edge policies.": {
            "$ref": "examples/accounts-list-media-edge-policies.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/privateLinkResources": {
      "get": {
        "summary": "Get list of group IDs.",
        "description": "Get list of group IDs.",
        "operationId": "PrivateLinkResources_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateLinkResourceListResult"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get list of all group IDs.": {
            "$ref": "examples/private-link-resources-list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/privateLinkResources/{name}": {
      "get": {
        "summary": "Get group ID.",
        "description": "Get group ID.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateLinkResource"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get details of a group ID.": {
            "$ref": "examples/private-link-resources-get-by-name.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/privateEndpointConnections": {
      "get": {
        "summary": "Get all private endpoint connections.",
        "description": "Get all private endpoint connections.",
        "operationId": "PrivateEndpointConnections_List",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get all private endpoint connections.": {
            "$ref": "examples/private-endpoint-connection-list.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Media/mediaservices/{accountName}/privateEndpointConnections/{name}": {
      "get": {
        "summary": "Get private endpoint connection.",
        "description": "Get private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get private endpoint connection.": {
            "$ref": "examples/private-endpoint-connection-get-by-name.json"
          }
        }
      },
      "put": {
        "summary": "Update private endpoint connection.",
        "description": "Update private endpoint connection.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/definitions/PrivateEndpointConnection"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Update private endpoint connection.": {
            "$ref": "examples/private-endpoint-connection-put.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      },
      "delete": {
        "summary": "Delete private endpoint connection.",
        "description": "Delete private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the Azure subscription.",
            "required": true,
            "schema": {
              "type": "string",
              "x-ms-parameter-location": "method"
            },
            "x-ms-parameter-location": "method"
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Delete private endpoint connection.": {
            "$ref": "examples/private-endpoint-connection-delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Media/locations/{locationName}/checkNameAvailability": {
      "post": {
        "summary": "Check Name Availability",
        "description": "Checks whether the Media Service resource name is available.",
        "operationId": "Locations_CheckNameAvailability",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "path",
            "description": "The name of the location",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "requestBody": {
          "description": "The request parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckNameAvailabilityInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EntityNameAvailabilityCheckOutput"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Check Name Availability": {
            "$ref": "examples/accounts-check-name-availability.json"
          }
        },
        "x-codegen-request-body-name": "parameters"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices": {
      "get": {
        "summary": "List Media Services accounts",
        "description": "List Media Services accounts in the subscription.",
        "operationId": "Mediaservices_ListBySubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaServiceCollection"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink"
        },
        "x-ms-examples": {
          "List all Media Services accounts": {
            "$ref": "examples/accounts-subscription-list-all-accounts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Media/mediaservices/{accountName}": {
      "get": {
        "summary": "Get a Media Services account",
        "description": "Get the details of a Media Services account",
        "operationId": "Mediaservices_GetBySubscription",
        "parameters": [
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The unique identifier for a Microsoft Azure subscription.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountName",
            "in": "path",
            "description": "The Media Services account name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaService"
                }
              }
            }
          },
          "default": {
            "description": "Detailed error information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "./Common.json#/definitions/ApiError"
                }
              }
            }
          }
        },
        "x-ms-examples": {
          "Get a Media Services account by name": {
            "$ref": "examples/accounts-subscription-get-by-name.json"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Provider": {
        "required": [
          "providerName"
        ],
        "type": "object",
        "properties": {
          "providerName": {
            "type": "string",
            "description": "The provider name."
          }
        },
        "description": "A resource provider."
      },
      "OperationDisplay": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "The service provider."
          },
          "resource": {
            "type": "string",
            "description": "Resource on which the operation is performed."
          },
          "operation": {
            "type": "string",
            "description": "The operation type."
          },
          "description": {
            "type": "string",
            "description": "The operation description."
          }
        },
        "description": "Operation details."
      },
      "MetricDimension": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The metric dimension name.",
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "description": "The display name for the dimension.",
            "readOnly": true
          },
          "toBeExportedForShoebox": {
            "type": "boolean",
            "description": "Whether to export metric to shoebox.",
            "nullable": false,
            "readOnly": true
          }
        },
        "description": "A metric dimension."
      },
      "MetricSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The metric name.",
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "description": "The metric display name.",
            "readOnly": true
          },
          "displayDescription": {
            "type": "string",
            "description": "The metric display description.",
            "readOnly": true
          },
          "unit": {
            "type": "string",
            "description": "The metric unit",
            "nullable": false,
            "readOnly": true,
            "enum": [
              "Bytes",
              "Count",
              "Milliseconds"
            ],
            "x-ms-enum": {
              "name": "MetricUnit",
              "values": [
                {
                  "value": "Bytes",
                  "description": "The number of bytes."
                },
                {
                  "value": "Count",
                  "description": "The count."
                },
                {
                  "value": "Milliseconds",
                  "description": "The number of milliseconds."
                }
              ],
              "modelAsString": true
            }
          },
          "aggregationType": {
            "type": "string",
            "description": "The metric aggregation type",
            "nullable": false,
            "readOnly": true,
            "enum": [
              "Average",
              "Count",
              "Total"
            ],
            "x-ms-enum": {
              "name": "MetricAggregationType",
              "values": [
                {
                  "value": "Average",
                  "description": "The average."
                },
                {
                  "value": "Count",
                  "description": "The count of a number of items, usually requests."
                },
                {
                  "value": "Total",
                  "description": "The sum."
                }
              ],
              "modelAsString": true
            }
          },
          "lockAggregationType": {
            "type": "string",
            "description": "The metric lock aggregation type",
            "nullable": true,
            "readOnly": true,
            "enum": [
              "Average",
              "Count",
              "Total"
            ],
            "x-ms-enum": {
              "name": "MetricAggregationType",
              "values": [
                {
                  "value": "Average",
                  "description": "The average."
                },
                {
                  "value": "Count",
                  "description": "The count of a number of items, usually requests."
                },
                {
                  "value": "Total",
                  "description": "The sum."
                }
              ],
              "modelAsString": true
            }
          },
          "supportedAggregationTypes": {
            "type": "array",
            "description": "Supported aggregation types.",
            "items": {
              "type": "string"
            }
          },
          "dimensions": {
            "type": "array",
            "description": "The metric dimensions.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/MetricDimension"
            }
          }
        },
        "description": "A metric emitted by service."
      },
      "Properties": {
        "type": "object",
        "properties": {
          "serviceSpecification": {
            "$ref": "#/components/schemas/ServiceSpecification"
          }
        },
        "description": "The service specification property."
      },
      "ServiceSpecification": {
        "type": "object",
        "properties": {
          "logSpecifications": {
            "type": "array",
            "description": "List of log specifications.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/LogSpecification"
            }
          },
          "metricSpecifications": {
            "type": "array",
            "description": "List of metric specifications.",
            "readOnly": true,
            "items": {
              "$ref": "#/components/schemas/MetricSpecification"
            }
          }
        },
        "description": "The service metric specifications."
      },
      "LogSpecification": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The diagnostic log category name.",
            "readOnly": true
          },
          "displayName": {
            "type": "string",
            "description": "The diagnostic log category display name.",
            "readOnly": true
          },
          "blobDuration": {
            "type": "string",
            "description": "The time range for requests in each blob.",
            "readOnly": true
          }
        },
        "description": "A diagnostic log emitted by service."
      },
      "Operation": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The operation name."
          },
          "display": {
            "$ref": "#/components/schemas/OperationDisplay"
          },
          "origin": {
            "type": "string",
            "description": "Origin of the operation."
          },
          "properties": {
            "$ref": "#/components/schemas/Properties"
          }
        },
        "description": "An operation."
      },
      "Location": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        }
      },
      "EntityNameAvailabilityCheckOutput": {
        "required": [
          "nameAvailable"
        ],
        "type": "object",
        "properties": {
          "nameAvailable": {
            "type": "boolean",
            "description": "Specifies if the name is available."
          },
          "reason": {
            "type": "string",
            "description": "Specifies the reason if the name is not available."
          },
          "message": {
            "type": "string",
            "description": "Specifies the detailed reason if the name is not available."
          }
        },
        "description": "The response from the check name availability request."
      },
      "StorageAccount": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the storage account resource. Media Services relies on tables and queues as well as blobs, so the primary storage account must be a Standard Storage account (either Microsoft.ClassicStorage or Microsoft.Storage). Blob only storage accounts can be added as secondary storage accounts."
          },
          "type": {
            "type": "string",
            "description": "The type of the storage account.",
            "enum": [
              "Primary",
              "Secondary"
            ],
            "x-ms-enum": {
              "name": "StorageAccountType",
              "values": [
                {
                  "value": "Primary",
                  "description": "The primary storage account for the Media Services account."
                },
                {
                  "value": "Secondary",
                  "description": "A secondary storage account for the Media Services account."
                }
              ],
              "modelAsString": true
            }
          }
        },
        "description": "The storage account details."
      },
      "SyncStorageKeysInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of the storage account resource."
          }
        },
        "description": "The input to the sync storage keys request."
      },
      "MediaServiceProperties": {
        "type": "object",
        "properties": {
          "mediaServiceId": {
            "type": "string",
            "description": "The Media Services account ID.",
            "format": "uuid",
            "nullable": false,
            "readOnly": true
          },
          "storageAccounts": {
            "type": "array",
            "description": "The storage accounts for this resource.",
            "items": {
              "$ref": "#/components/schemas/StorageAccount"
            }
          },
          "storageAuthentication": {
            "type": "string",
            "nullable": true,
            "enum": [
              "System",
              "ManagedIdentity"
            ],
            "x-ms-enum": {
              "name": "StorageAuthentication",
              "values": [
                {
                  "value": "System",
                  "description": "System authentication."
                },
                {
                  "value": "ManagedIdentity",
                  "description": "Managed Identity authentication."
                }
              ],
              "modelAsString": true
            }
          },
          "encryption": {
            "$ref": "#/components/schemas/AccountEncryption"
          }
        },
        "description": "Properties of the Media Services account."
      },
      "MediaService": {
        "description": "A Media Services account.",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "ListEdgePoliciesInput": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the edge device."
          }
        }
      },
      "EdgeUsageDataEventHub": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Event Hub where usage will be reported."
          },
          "namespace": {
            "type": "string",
            "description": "Namespace of the Event Hub where usage will be reported."
          },
          "token": {
            "type": "string",
            "description": "SAS token needed to interact with Event Hub."
          }
        }
      },
      "EdgeUsageDataCollectionPolicy": {
        "type": "object",
        "properties": {
          "dataCollectionFrequency": {
            "type": "string",
            "description": "Usage data collection frequency in ISO 8601 duration format e.g. PT10M , PT5H."
          },
          "dataReportingFrequency": {
            "type": "string",
            "description": "Usage data reporting frequency in ISO 8601 duration format e.g. PT10M , PT5H."
          },
          "maxAllowedUnreportedUsageDuration": {
            "type": "string",
            "description": "Maximum time for which the functionality of the device will not be hampered for not reporting the usage data."
          },
          "eventHubDetails": {
            "$ref": "#/components/schemas/EdgeUsageDataEventHub"
          }
        }
      },
      "EdgePolicies": {
        "type": "object",
        "properties": {
          "usageDataCollectionPolicy": {
            "$ref": "#/components/schemas/EdgeUsageDataCollectionPolicy"
          }
        }
      },
      "MediaServiceIdentity": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The identity type.",
            "enum": [
              "SystemAssigned",
              "None"
            ],
            "x-ms-enum": {
              "name": "ManagedIdentityType",
              "values": [
                {
                  "value": "SystemAssigned",
                  "description": "A system-assigned managed identity."
                },
                {
                  "value": "None",
                  "description": "No managed identity."
                }
              ],
              "modelAsString": true
            }
          },
          "principalId": {
            "type": "string",
            "description": "The Principal ID of the identity.",
            "readOnly": true
          },
          "tenantId": {
            "type": "string",
            "description": "The Tenant ID of the identity.",
            "readOnly": true
          }
        }
      },
      "KeyVaultProperties": {
        "type": "object",
        "properties": {
          "keyIdentifier": {
            "type": "string",
            "description": "The URL of the Key Vault key used to encrypt the account. The key may either be versioned (for example https://vault/keys/mykey/version1) or reference a key without a version (for example https://vault/keys/mykey)."
          },
          "currentKeyIdentifier": {
            "type": "string",
            "description": "The current key used to encrypt the Media Services account, including the key version.",
            "readOnly": true
          }
        }
      },
      "AccountEncryption": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of key used to encrypt the Account Key.",
            "enum": [
              "SystemKey",
              "CustomerKey"
            ],
            "x-ms-enum": {
              "name": "AccountEncryptionKeyType",
              "values": [
                {
                  "value": "SystemKey",
                  "description": "The Account Key is encrypted with a System Key."
                },
                {
                  "value": "CustomerKey",
                  "description": "The Account Key is encrypted with a Customer Key."
                }
              ],
              "modelAsString": true
            }
          },
          "keyVaultProperties": {
            "$ref": "#/components/schemas/KeyVaultProperties"
          }
        }
      },
      "OperationCollection": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "A collection of Operation items.",
            "items": {
              "$ref": "#/components/schemas/Operation"
            }
          },
          "@odata.nextLink": {
            "type": "string",
            "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
          }
        },
        "description": "A collection of Operation items."
      },
      "MediaServiceCollection": {
        "type": "object",
        "properties": {
          "value": {
            "type": "array",
            "description": "A collection of MediaService items.",
            "items": {
              "$ref": "#/components/schemas/MediaService"
            }
          },
          "@odata.nextLink": {
            "type": "string",
            "description": "A link to the next page of the collection (when the collection contains too many results to return in one response)."
          }
        },
        "description": "A collection of MediaService items."
      },
      "CheckNameAvailabilityInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The account name."
          },
          "type": {
            "type": "string",
            "description": "The account type. For a Media Services account, this should be 'MediaServices'."
          }
        },
        "description": "The input to the check name availability request."
      }
    },
    "parameters": {
      "ApiVersion": {
        "name": "api-version",
        "in": "query",
        "description": "The version of the API to be used with the client request.",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "securitySchemes": {
      "azure_auth": {
        "type": "oauth2",
        "description": "Azure Active Directory OAuth2 Flow",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "scopes": {
              "user_impersonation": "Impersonate your user account"
            }
          }
        }
      }
    }
  }
}
